<form class="search-form" action="/letters/search">
  <h1 class="search-form_heading">Todd's Easter Search and Letter Archive</h1>
  <input class="search-form_search" type="search" name="search_term" placeholder="Hop to it..."/>
  <button type="submit" class="search-form_submit">Hop!</button>
</form>