<div class="letter-index">
  <% if hannahs_birthday? %>
    <%= render BirthdayComponent.new %>
  <% else %>
    <%= render SearchFormComponent.new %>
    <%= render LettersListComponent.new(letters: Letter.all) %>
  <% end %>
</div>